In [ ]:
firstname = 'Mahin'
lastname = 'Vazifehdan'
print (firstname + ' ' + lastname)
print(firstname * 3)
print('Ma' in firstname)

Mahin Vazifehdan
MahinMahinMahin
True

In [ ]:
firstname = 'I will be a successful data scientist in the Netherlands'.split(' ')[2]
lastname = 'This is Mahin Vazifehdan'.split(' ')[-1]
print(firstname + ' ' + lastname)

be Vazifehdan

In [ ]:
dict = {'Mahin': '09150054577', 'Nahid' : '09150473818', 'Asiyeh' : '09159121619'}
dict['Nahid']

'09150473818'

In [ ]:
dict['Maman'] = '09151371844'

In [ ]:
dict['Maman']

'09151371844'

In [ ]:
for name, phonenumber in dict.items():
    print(name)
    print(phonenumber)

Mahin
09150054577
Nahid
09150473818
Asiyeh
09159121619
Maman
09151371844

In [ ]:
sale_record = {'price' : 3.24,
              'name_items' : 4,
              'person' : 'Mahin'}
sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sale_record['person'],
                            sale_record['name_items'],
                            sale_record['price'],
                            sale_record['price'] * sale_record['name_items']))

Mahin bought 4 item(s) at a price of 3.24 each for a total of 12.96

## The python programming language : Dates and Times

In [3]:
import datetime as dt
import time as tm

In [ ]:
tm.time()

In [ ]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

In [ ]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

In [ ]:
delta = dt.timedelta(days = 100)
delta

In [ ]:
today = dt.date.today()
today

In [ ]:
delay = today - delta
delay

In [ ]:
today > delay

In [11]:
class person:
    department = 'School of Information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [ ]:
store1= [10,0,30,40]
store2 = [9,1,0,3,4]
cheapest = map(min, store1)
cheapest

In [ ]:
people = ['Dr. Mahin Vazifehdan', 'Dr. Nahid Attar', 'Prof. Asiyeh Mahin', 'Prof. Somayeh Mahin']

def split_title_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_name, people))

In [ ]:
my_function = lambda a, b, c : a + b
my_function(2,3,4)

In [ ]:
people = ['Dr. Mahin Vazifehdan', 'Dr. Nahid Attar', 'Prof. Asiyeh Mahin', 'Prof. Somayeh Mahin']

def split_title_name(person):
    person.split()[0] + ' ' + person.split()[-1]
for person in people:
    print(split_title_name(person) == (lambda person:person.split()[0] + ' ' + person.split()[-1]), people)

In [ ]:
my_list = []

for numbers in range(0,1000):
    if numbers % 2 == 0:
        my_list.append(numbers)

my_list

In [ ]:
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list

In [18]:
def times_tables():
    list_1 = []
    for i in range(10):
        for j in range(10):
            list_1.append(i*j)
    return list_1

In [ ]:
times_tables() == [i*j for i in range(10) for j in range(10)]